{namespace h=Tx_AlmPortfolio_ViewHelpers}

<f:comment>
Template Vars:
settings
item
item.title
item.teaser
item.description
item.client
item.url
item.cat
item.images

Link to Detail Page:
pageUid="{settings.flexform.detailPage}"
additionalParams="{tx_almportfolio_portfoliofront: '{item: item.uid}'}"

Labels:
more => tx_almportfolio_modul_portfoliofront.more
back => tx_almportfolio_modul_portfoliofront.back
link => tx_almportfolio_modul_portfoliofront.link
</f:comment>

<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

<div>
	<div><b>{item.title}</b></div>
	<div><f:format.html>{item.description}</f:format.html></div>
	<div>{item.client}</div>
	<div><f:link.external uri="{item.url}" target="_blank">{item.url}</f:link.external></div>
	<div>
		<f:for each="{item.cat}" as="cat">
			<span>{cat.title}</span>
		</f:for>
	</div>
	<div>
		<f:for each="{item.images}" as="image" iteration="count">
			<div>
				<a class="lightbox" href="{image.originalResource.publicUrl}" title="{item.title} - {count.cycle}" rel="lightbox">
					<f:image src="{image.uid}" alt="{item.title} - {count.cycle}" treatIdAsReference="true" maxWidth="{settings.imgList.width}" maxHeight="{settings.imgList.height}" alt="{item.title} - {count.cycle}" title="{item.title} - {count.cycle}" />
				</a>
			</div>
		</f:for>
	</div>
	<div>
		<f:if condition="{settings.flexform.listPage}">
			<f:then>
				<f:link.page pageUid="{settings.flexform.listPage}"><f:translate id="tx_almportfolio_modul_portfoliofront.back">Back</f:translate></f:link.page>
			</f:then>
			<f:else>
				<f:link.external uri="javascript: history.back();"><f:translate id="tx_almportfolio_modul_portfoliofront.back">Back</f:translate></f:link.external>
			</f:else>
		</f:if>
	</div>
</div>

</f:section>